<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Input data</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script>
            $(function() {
            $( "#start_date" ).datepicker();
            });
            $(function() {
            $( "#end_date" ).datepicker();
            });
        </script>
    </head>
    <body>
        <form action="/register_member_page/" method="POST">
            <pre><input type="submit" value="member"></pre>
        </form>
        <form action="/register_admin_page/" method="POST">
            <pre><input type="submit" value="admin"></pre>
        </form>
        <form action="/register_staff_page/" method="POST">
            <pre><input type="submit" value="staff"></pre>
        </form>
    </body>
</html>