<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Input data</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script>
            $(function() {
            $( "#start_date" ).datepicker();
            });
            $(function() {
            $( "#end_date" ).datepicker();
            });
        </script>
    </head>
    <body>
    {% if staff_type == "transferee" %}
        <form action="/staff_add_group/" method="POST">
            <input type="text" name="title" value="title"><br>
            <input type="text" name="maintenance" value="maintenance"><br>
            <input type="text" name="base_price" value="base_price"><br>
            <pre><input type="submit" value="add group"></pre>
        </form>
        <form action="/staff_add_goods/" method="POST">
            <input type="hidden" name="personnel_code" value={{presonnel_code}}><br>
            <input type="text" name="barcode" value="barcode" pattern="\d+" ><br>
            <input type="text" name="name" value="name" ><br>
            <input type="text" name="group_title" value="group_title" ><br>
            <input type="text" name="base_price" value="base_price" pattern="\d+" ><br>
            <input type="text" name="price" value="price" pattern="\d+" ><br>
            <input type="text" name="maintenance" value="maintenance" ><br>
            <input type="text" name="production_date" value="production_date"><br>
            <input type="text" name="entry_date" value="entry_date"><br>
            <input type="text" name="exit_date" value="exit_date"><br>
            <input type="text" name="producer" value="producer"><br>
            <pre><input type="submit" value="add goods"></pre>
        </form>
    {% elif staff_type == "dischargerer" %}
        <form action="/staff_add_exit_date/" method="POST">
            <input type="hidden" name="personnel_code" value={{personnel_code}}><br>
            <input type="text"  name="goods_barcode" value="goods_barcode" ><br>
            <input type="text" name="exit_date" value="exit_date"><br>
            <pre><input type="submit" value="add exit date"></pre>
        </form>
    {% elif staff_type == "keeper" %}
        <form action="/staff_add_caring/" method="POST">
            <input type="hidden" name="personnel_code" value={{personnel_code}}><br>
            <input type="text"  name="goods_barcode" value="goods_barcode" ><br>
            <pre><input type="submit" value="add item to keep"></pre>
        </form>
    {% endif %}
        <form action="/staff_get_salary/" method="POST">
            <input type="hidden" name="personnel_code" value={{personnel_code}}><br>
            <pre><input type="submit" value="get salary"></pre>
        </form>
    </body>
</html>
